<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post details</title>
</head>

<body style="background-color: black; text-align: center;">
    
    <div style="background-color: black; border-radius: 50px; text-align: center;">
        <h1 style="color: gold; text-shadow: 20px; font-size: 100px; font-family: sans-serif; font-weight: bolder ;">
            METAL SPEED </h1>
    </div>

    <hr style="width: 1000px; height: 10px; background-color: rgb(245, 76, 188); border-radius: 20px;">

    
    <div style="display: inline-block; margin-left: 35px">


        <img style="height: 180px; width: 350px; border-radius: 30px;" src="/uploads/{{post.image}}" alt="image">

            <div>
                <h4 style="color:aliceblue; font-family: 'Times New Roman', Times, serif; font-weight: bold; border-radius: 20px;">
                        {{post.title}} </h4>
            </div>

                

            <div>
                <p style="color:aliceblue; font-family: 'Times New Roman', Times, serif; font-weight: bold; border-radius: 20px;">
                        {{post.description}} </p>
            </div>
                        
            
        

    </div>
    

    <br><br><br><br><br>

    <a href="/">

        <button style="color: black ; background-color: white; border-radius: 20px; font-size: x-large;">BACK TO HOMEPAGE</button>
    </a>


</body>

</html>